trained_models/
packaged_models/
.env.local
__pycache__
*.pyc
.DS_Store
*/__pycache__/
*/.ipynb_checkpoints/
*/.vscode/
*/.idea/
*/.pytest_cache/
*/.mypy_cache/
*/.mypy/
*/.coverage
*/.DS_Store
data/sets/*
requirements.verbose.txt
